//====================================================================================================
.page {

	&__individual {
	}
}
.individual {
	margin-top: 136px;
	&__container {
		// max-width: 100%;
		// padding-left: 42px;
		// padding-right: 0;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__content {
		flex: 0 0 43%;
	}

	&__title {
		color: #3C2C26;
		font-family: Crimson;
		font-size: 2.5rem;
		// font-style: normal;
		// fontweight: 400;
		line-height: 3.5rem; /* 140% */
		&:not(:last-child) {margin-bottom: 79px;}
		span {
			text-transform: uppercase;
			font-size: rem(64);
			line-height: math.div(72 , 64);
		}
	}

	&__text {
		font-size: rem(30);
		line-height: math.div(40 , 30);
		&:not(:last-child) {margin-bottom: 109px;}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4.4375rem;
	}

	&__link {
		background: #776053;
		color:#fff;
		min-width: 235px;
		font-family: Сrimson;
		&:hover{
			background-color: #fff;
			color: #776053;
		}
	}

	&__subtext {
		line-height: math.div(18, 14);
		padding-left: 46px;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 33px;
			height: 33px;
			background: url('@img/individual/info.svg') 0 0 no-repeat;
		}
		span {
			text-decoration: underline;
		}
	}

	&__img {
		// img {width: 100%;}
		position: relative;
	}

	&__info {
		position: absolute;
		bottom: 0;
		right: 0;
		border-radius: 70px 0px 0px 0px;
		border: 0px solid #000;
		background: #FFF9E8;
		z-index: 2;
		padding: 44px 222px 44px 23px;
	}

	&__info-text {
		font-size: rem(20);
		padding-left: 49px;
		position: relative;
		font-family: crimson;
		&::before{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 39px;
			height: 39px;
			background: url('@img/individual/info.svg') 0 0 no-repeat;
		}
	}
}
.btn {
}
.button {
}

//====================================================================================================


.page {

	&__advantages {
		margin-top: 80px;
	}
}
.advantages {

	&__container {
		display: flex;
		align-items: center;
		// flex-wrap: wrap;
		gap: 2rem;
	}

	&__item {
		fill: #FFF;
		filter: drop-shadow(30px 10px 40px rgba(60, 44, 38, 0.15));
		padding: 50px 46px 55px 46px;
		background: url('@img/advantages/bg.png') 0 0 no-repeat;
	}

	&__img {
		width: 260px;
		aspect-ratio: 1/1;
		img {
			object-fit: contain;
		}
		&:not(:last-child) {margin-bottom: 15px;}
	}

	&__text {
		height: 112px;
		font-size: rem(20);
		line-height: math.div(28 , 20);
		text-align: center;
	}
}

/*=========================*/

.page {

	&__galery {
		margin-top: 195px;
		position: relative;
		// z-index: 4;
		// background-color: #FFF;
	}
}
.galery {
	position: relative;
	&__decor {
		position: absolute;
		top: -220px;
		z-index: 1;
		left: -116px;
	}
	&__container {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
	}

	&__content {
		flex: 0 0 37.009967%; /* 557/1505 */
		padding-right: 77px;
		text-align: right;
	}

	&__title {
		color: #3C2C26;
		// leading-trim: both;
		// text-edge: cap;
		/* H2 */
		font-family: Crimson;
		font-size: 40px;
		// font-style: normal;
		// font-weight: 400;
		line-height: 52px; /* 130% */
		// font-variant: small-caps;
		&:not(:last-child) {margin-bottom: 90px;}
	}

	&__control {
		display: inline-flex;
		align-items: center;
		gap: 41px;
		// margin-left: auto;
	}

	&__pagination {
		color: #3C2C26;
		font-family: Crimson;
		font-size: rem(20);
		line-height: math.div(18 , 20);
		// font-style: normal;
		// font-weight: 400;
		
		& .swiper-pagination-current {
			font-size: 56px;
			line-height: 50px; /* 89.286% */
		}

		& .swiper-pagination-total {
			
		}
	}

	&__slider {
		
	}

	&__swiper {
		// align-items: center;
	}

	&__slide {
		width: 433px;
		height: 624px;
		// padding-bottom: 72%;
		transition: width 0.8s, height 0.8s;
		position: relative;
		// background: url(../img/galery/01.jpg) lightgray 50% / cover no-repeat;
		// clip-path: url(../img/galery/mask.png);
		// mask: url(../img/galery/mask.png);
		img {
			position: relative;
			// z-index: 3;
			
			
		}
		// &::before,&::after{
		// 	content:'';
		// 	position: absolute;
		// 	top: 0;
		// 	width: 50%;
		// 	height: 100%;
			
		// }
		// &::before{
		// 	left: 0;
		// 	background-color: #330c0c;
		// 	z-index: 2;
		// 	border-radius: 0 50px 50px 0;
		// }
		// &::after{
		// 	background-color: #77608d;
		// 	right: 0;
		// 	border-radius: 50px 0 0 50px;
		// }
		&.swiper-slide-next {
			// transform: scale(0.8);
			width: 316px;
			height: 438px;
			// padding-bottom: 46%;
		}
		&.swiper-slide-next+.swiper-slide {
			// transform: scale(0.6);
			width: 252px;
			height: 365px;
			// padding-bottom: 38.5%;
		}
	}
}
.control {
	
	&__arrow {

		&_left {
		}

		&_right {
			transform: rotate(180deg);
		}
	}
}
